@charset "UTF-8";

@font-face {
    font-family:'Nova';
    src: url(fontes/Proxima\ Nova\ Regular.otf);
}

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0:#342353;
    --cor1:#0D0D0D;
    --cor2:#0D0D0D;
    --cor3:#191028;
    --cor4:#C2F7FF;
    --cor5:#CCCCC0;


}

body{
    background-color: var(--cor0);
}

main{
    margin: auto;
    width: 1050px;
    margin-top: 10px;
    background-color: var(--cor5);
    margin-bottom: 30px;
    border-radius: 20px;
}

section{
    text-align: center;
    margin: auto;
}

.img{
    border-radius: 10px;
}

div.video{
    background-color: var(--cor5);
    position: relative;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
}

h1{
    font-family: 'Nova';
    font-weight: bolder;
    padding: 10px;
    color: var(--cor3)
}
    
p{
    font-family: 'Nova';
    text-align: justify;
    padding: 10px;
    margin-bottom: 5px;
    color: var(--cor3)
}


header{
    background-color: var(--cor1);
    color: var(--cor5);
    font-family: 'Nova';
}

header img{
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: -5px;
}

nav{
    text-align: right;
    margin-top: -30px;
    padding-bottom: 12px;
    padding-right: 20px;

}

nav a{
    padding-left: 30px;
    padding-right: 30px;
    color: var(--cor5);
    text-decoration: none;
}

nav a:hover{
    color: white;
}





